<% provide(:page_title, @event.title) %>

<p id="notice"><%= notice %></p>

<h2></h2>

<div class="jumbotron">
  <h1 class="display-4"><%= @event.title %></h1>
  <hr class="my-4">
  <p>Data wydarzenia: <%= @event.date %></p>
  <img src="<%= @event.image %>"/>
  <p class="lead offset"><%= @event.description %></p>
  <% if (@event.adult_event) %>
    <span class="alert-danger">Wydarzenie dla dorosłych: TAK</span>
  <% else %>
    <span class="alert-primary">Wydarzenie dla dorosłych: NIE</span>
  <% end %>
  <br>
  <span class="alert-success">Cena: 20 zł</span>
  <hr class="my-4">
  <p>Kup bilet:</p>
  <button id="show" class="btn btn-primary">Pokaż dostępne miejsca</button>
  <div id="messagePanel" class="messagePanel"></div>
  <div class="alert-danger" id="error"></div>
  <% if !user_signed_in? %>
    <%= link_to 'Zaloguj się, aby kupić bilet', user_session_path, class: "btn btn-warning btn-buy btn-max btn-pointer" %>
  <% else %>
    <% if current_user.birthdate %>
      <% if @event.adult_event && (Date.current.year - (I18n.l current_user.birthdate, :format => "%Y").to_i) >= 18 %>
        <%= button_to 'Kup bilet na wydarzenie', user_session_path, method: :post, class: "btn btn-success btn-buy btn-max btn-pointer" %>
      <% elsif @event.adult_event && (Date.current.year - (I18n.l current_user.birthdate, :format => "%Y").to_i) < 18 %>
        <button id="warnTicket" class="btn btn-warning btn-buy btn-max btn-pointer" data-placement="bottom" title="Nie masz wystarczającej ilości lat" data-toggle="tooltip-warn">KUP
          BILET
        </button>
      <% else %>
        <button id="preBuy" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ticketModal">
          Kup bilet
        </button>
      <% end %>
    <% end %>
    <% if current_user.birthdate == nil %>
      <%= link_to 'Ustaw date urodzenia', admin_account_path, class: "btn btn-danger btn-buy btn-max btn-pointer" %>
    <% end %>
  <% end %>

</div>
<div id="ticketModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Podsumowanie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body col-xs-10">

        <form>
          <div class="form-group">
            <div class="col-sm-4">
              <label for="firstName" class="control-label">Imię i nazwisko</label>
              <input class="form-control" id="firstName" name="firstName"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <label for="address" class="control-label">Adres</label>
              <input class="form-control" id="address" name="address"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <label for="firstName" class="control-label">Adres email</label>
              <input class="form-control" id="email" name="firstName"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <label for="seats" class="control-label">Wybrane miejsca</label>
              <input class="form-control" id="seats" name="seats"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <label for="price" class="control-label">Cena</label>
              <input class="form-control" id="price" name="price"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <label for="firstName" class="control-label">User Id</label>
              <input class="form-control" id="user_id" name="firstName" value="<%= current_user.id %>"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <label for="firstName" class="control-label">Event Id</label>
              <input class="form-control" id="user_id" name="firstName" value="<%= @event.id %>"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <label for="firstName" class="control-label">Event Title</label>
              <input class="form-control" id="user_id" name="firstName" value="<%= @event.title %>"/>
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <%= button_to 'Kup', admin_buy_ticket_path,
                      params: {event_id: @event.id, event_name: @event.title,
                               address: 'Ul. Piastowska 51',
                               event_date: @event.date, name: current_user.email,
                               user_id: current_user.id, places: 'C24 D32 E40 F48', price: '80'},
                      method: :post, class: "btn btn-success btn-buy btn-max btn-pointer" %>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Anuluj</button>
      </div>
    </div>
  </div>
</div>

<script>

  $('#preBuy').on('click', function () {
    var amount = window.seats.split(' ').length - 1;
    $('#price').val(amount * 20 + 'zł');
    $('#seats').val(window.seats);
  });

</script>

<!-- <%= link_to 'Wróć...', events_path %> -->
