<% provide(:page_title, @event.title) %>

<p id="notice"><%= notice %></p>

<h2></h2>

<div class="jumbotron">
  <h1 class="display-4"><%= @event.title %></h1>
  <hr class="my-4">
  <p>Data wydarzenia: <%= @event.date %></p>
  <img src="<%= @event.image %>"/>
  <p class="lead offset"><%= @event.description %></p>
  <% if (@event.adult_event) %>
    <span class="alert-danger">Wydarzenie dla dorosłych: TAK</span>
  <% else %>
    <span class="alert-primary">Wydarzenie dla dorosłych: NIE</span>
  <% end %>
  <hr class="my-4">
  <p>Kup bilet:</p>
  <button id="show" class="btn btn-primary">Pokaż dostępne miejsca</button>
  <div id="messagePanel" class="messagePanel"></div>
  <div class="alert-danger" id="error"></div>
  <button class="btn btn-primary">Kup</button>

</div>


<!-- <%= link_to 'Wróć...', events_path %> -->
